<div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('products.singular')}"), product_path(@product) %>
  <div class="card shadow mt-4">
    <div class="card-body">

      <h1><%= t('movements.new_movement_to') %> <%= @product.name %></h1>
      <%= turbo_frame_tag @movement do %>
        <%= render "form", product: @product, movement: @movement %>
      <% end %>
    </div>
  </div>
</div>
