<div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('customers.plural')}"), customers_path %>
  <div class="card mt-4">
    <div class="card-header">
      <h1><%= @customer.name %></h1>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th><%= t('customers.form.id_number') %></th>
            <th><%= t('customers.form.email') %></th>
            <th><%= t('customers.form.phone_number') %></th>
            <th><%= t('customers.form.address') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @customer.id_number %></td>
            <td><%= @customer.email %></td>
            <td><%= @customer.phone_number %></td>
            <td><%= @customer.address %></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-12 col-sm-6 d-grid mt-2">
          <%= link_to t('customers.edit_customer'), edit_customer_path(@customer), class: "btn btn-secondary" %>
        </div>
        <div class="col-12 col-sm-6 d-grid mt-2">
          <%= link_to t('customers.destroy_customer'), customer_path(@customer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </div>
</div>
