  <div class="card shadow">
    <%= image_tag product.picture.url if product.picture? %>
    <div class="card-body">
      <h4 class="card-title">
          <%= product.name %>
      </h4>
      <p class="card-text">
        <table>
          <% if !product.sale_price.nil? %>
            <tr>
              <td><%= t('products.sale_price') %>: <b><%= number_to_currency product.sale_price.price %></b></td>
            </tr>
          <% end %>
          <tr>
            <td><%= t('products.brand') %>: <%= product.brand %></td>
          </tr>
          <tr>
            <td><%= t('products.unit') %>: <%= product.unit %></td>
          </tr>
          <tr>
            <td><%= t('products.size') %>: <%= product.size %></td>
          </tr>
          <tr>
            <td><%= t('products.stock') %>: <%= product.current_stock %></td>
          </tr>
        </table>
      </p>
    </div>
  </div>
