  <div class="product card shadow">
    <%= image_tag product.picture.url if product.picture? %>
    <div class="card-body">
      <h4 class="card-title">
          <%= product.name %>
      </h4>
      <div class="product__badges">
        <h5>
          <% if has_category?(product) %>
            <span class="badge bg-warning text-dark">
              <%= product.category.name %>
            </span>
          <% end %>
          <% if is_available?(product) %>
            <span class="badge bg-info text-dark"><%= t('products.available') %></span>
          <% end %>
        </h5>
      </div>
      <p class="card-text">
        <table>
          <% if !product.sale_price.nil? %>
            <tr>
              <td><%= t('products.sale_price') %>: <b><%= number_to_currency(product.sale_price.price, unit: "$", format: "%u %n") %></b></td>
            </tr>
          <% end %>
          <tr>
            <td><%= t('products.brand') %>: <%= product.brand %></td>
          </tr>
          <tr>
            <td><%= t('products.unit') %>: <%= product.unit %></td>
          </tr>
          <tr>
            <td><%= t('products.size') %>: <%= product.size %></td>
          </tr>
        </table>
      </p>
    </div>
  </div>
