<!-- Image carousel -->
<div id="carousel">
  <%= render 'pages/carousel' %>
</div>

<!-- Products -->
<section id="fertilizers" class="container mt-4">
  <div class="row">
    <div class="col text-center text-uppercase">
      <small>Conoce nuestros</small>
      <h2>Fertilizantes</h2>
      <small>Disponibles</small>
    </div>
  </div>
  <div class="row row-cols-sm-2 row-cols-md-3 mb-4">
    <% @home_page_products.each do |product| %>
      <div class="container mt-2 mb-2">
        <%= render 'pages/home_page_product', product: product %>
      </div>
    <% end %>
  </div>
</section>

<!-- Map ubication -->
<section id="ubication">
  <%= render 'pages/ubication' %>
</section>

<!-- Contact card -->
<section id="contact" class="container mt-4 mb-4">
  <%= render 'pages/contact' %>
</section>

<!-- Footer -->
<%= render 'pages/footer' %>
