<div class="container">
  <div class="header">
    <h1><%= t('wallets.plural') %></h1>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-6">
        <%= link_to t('wallets.new_wallet'), new_wallet_path, class: "btn btn-primary", data: { turbo_frame: 'remote_modal' } %>
        <% if current_company.general_setting.nil? %>
          <%= link_to new_general_setting_path, data: { turbo_frame: 'remote_modal' } do %>
            <div class="btn btn-danger">
              <i class="bi bi-gear"></i>
              <%= t('general_settings.configuration') %>
            </div>
          <% end %>
        <% else %>
          <%= link_to edit_general_setting_path(current_company.general_setting), data: { turbo_frame: 'remote_modal' } do %>
            <div class="btn btn-danger">
              <i class="bi bi-gear"></i>
              <%= t('general_settings.configuration') %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="row row-cols-sm-2 row-cols-md-3 mb-4">
    <%= render @wallets %>
  </div>
</div>
