<%= turbo_frame_tag coffee_purchase do %>
  <div class="mt-2">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12 col-md-3">
            <%= link_to coffee_purchase.code, location_coffee_purchase_path(location, coffee_purchase), data: { turbo_frame: '_top' } %>
          </div>
          <div class="col-12 col-md-2 d-flex justify-content-center">
            <span class="status status__<%= coffee_purchase.status %>"><%= coffee_purchase.status %></span>
          </div>
          <div class="col-12 col-md-3">
            <div class="col">
              <%= t('customers.singular')%>: <%= coffee_purchase.client.name %>
            </div>
            <div class="col">
              <%= t('sales.date') %>: <%= l(coffee_purchase.created_at, format: :long) %>
            </div>
          </div>
          <div class="col">
            <div class="col">
              Tipo de cafe:
              <%= coffee_purchase.coffee_type %>
            </div>
            <div class="col">
              Cantidad:
              <%= coffee_purchase.quantity %> kg
            </div>
            <div class="col">
              Total:
              <%= formated_currency( coffee_purchase.total_price ) %>
            </div>
          </div>
          <% if coffee_purchase.guardada? %>
            <div class="col-12 col-md-2 d-flex justify-content-end">
              <%= link_to edit_location_coffee_purchase_path(location, coffee_purchase) do %>
              <div class="btn btn-info me-2">
                <i class="bi bi-pencil-square"></i>
              </div>
              <% end %>
              <%= link_to location_coffee_purchase_path(location, coffee_purchase), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <div class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
