<%= turbo_stream_from current_company, "coffee_purchases" %>
<div class="container">
  <div class="header">
    <h1><%= "Compra de cafe" %></h1>
    <div class="row d-flex">
      <div class="col">
        <%= link_to "Nueva compra de cafe", new_coffee_purchase_path, data: { turbo_frame: dom_id(CoffeePurchase.new) }, class: "btn btn-primary" %>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#filter-form" aria-expanded="false" aria-controls="collapseExample">
          Buscar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <%= turbo_frame_tag CoffeePurchase.new %>
    <div class="col">
      <%= turbo_frame_tag "coffee_purchases" do %>
        <%= render @coffee_purchases %>
      <% end %>
    </div>
  </div>
</div>
