<%= simple_form_for(@category) do |f| %>
  <%= form_error_notification(@category) %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-12">
        <%= f.input :name, label: t('.name') %>
      </div>
      <div class="col-12">
        <%= f.input :description, label: t('.description') %>
      </div>
    </div>
  </div>

  <div class="form-actions row mt-2">
    <div class="col">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
