<!-- <div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('wallets.singular')}"), wallet_path(@wallet) %>
  <div class="card shadow mt-4">
    <div class="card-body">

      <h1><%= t('transactions.withdraw_transaction') %></h1>
      <%= render "withdraw_form", wallet: @wallet, transaction: @transaction %>
    </div>
  </div>
</div> -->

<%= render "layouts/remote_modal", title: t('transactions.withdraw_transaction') do %>
  <%= render "withdraw_form", wallet: @wallet, transaction: @transaction %>
<% end %>
