<%= simple_form_for product, html: { class: "form" } do |f| %>
  <%= form_error_notification(product) %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-12 col-sm-3">
        <%= f.input :name, label: t('.name'), input_html: { autofocus: true } %>
      </div>
      <div class="col-12 col-sm-3">
        <%= f.input :brand, label: t('.brand') %>
      </div>
      <div class="col-12 col-sm-3">
        <%= f.input :unit, label: t('.unit'),as: :select, collection: Product.units, value_method: -> (r) { r[0] }, input_html: { class: 'form-select' } %>
      </div>
      <div class="col-12 col-sm-3">
        <%= f.input :size, label: t('.size') %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <%= f.input :provider_id, label: t('providers.singular'), as: :select, collection: current_company.providers.all, label_method: -> (u) { u.name }, input_html: { class: 'form-select' } %>
      </div>
      <!-- If product is persisted don't show this -->
      <% unless product.persisted? %>
      <div class="col-12 col-sm-3">
        <%= f.input :price, label: t('.stock_price') %>
      </div>
      <div class="col-12 col-sm-3">
        <%= f.input :initial_quantity, label: t('.initial_stock_quantity') %>
      </div>
      <% end %>
      <div class="col-12 col-sm-3">
        <%= f.input :category_id, label: t('.category'), as: :select, collection: current_company.categories.all, label_method: -> (u) { u.name }, input_html: { class: 'form-select' } %>
      </div>
    </div>
    <div class="col">
      <%= f.input :description, label: t('.description') %>
    </div>
    <div class="col mt-1">
      Imagen
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
    </div>
  </div>

  <div class="form-actions mt-3">
    <%= link_to products_path do %>
      <div class="btn btn-info">
        <i class="bi bi-x-lg"></i>
      </div>
    <% end %>
    <%= f.submit class: "btn btn-warning" %>
  </div>
<% end %>
