<div class="card shadow-sm mt-4">
  <div class="card-header">
    <h2><%= t('movements.plural') %></h2>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('movements.type') %></th>
          <th><%= t('movements.class') %></th>
          <th><%= t('movements.quantity') %></th>
          <th><%= t('movements.unit_price') %></th>
          <th><%= t('movements.Total') %></th>
          <th><%= t('movements.stock') %></th>
          <th><%= t('movements.date') %></th>
        </tr>
      </thead>
      <tbody>
        <% product.movements.each do |movement| %>
          <tr>
            <td><%= movement.mov_type %></td>
            <td><%= movement.mov_sub_type %></td>
            <td><%= movement.quantity %></td>
            <td><%= number_to_currency( movement.unit_price, unit: "$", format: "%u %n") %></td>
            <td><%= number_to_currency( movement.total, unit: "$", format: "%u %n") %></td>
            <td><%= movement.stock.quantity %></td>
            <td><%= l(movement.created_at, format: :long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
