<%= turbo_stream_from current_company, "products" %>

<div class="container">
  <div class="header">
    <h1><%= t('products.plural') %></h1>
    <%= link_to t('products.new_product'), new_product_path, data: {turbo_frame: dom_id(Product.new)}, class: "btn btn-primary" %>
  </div>
  <%= turbo_frame_tag Product.new %>
  <%= turbo_frame_tag "products", class: "row row-cols-sm-2 row-cols-md-3 mb-4" do %>
    <%= render @products %>
  <% end %>
</div>
