<div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('products.plural')}"), products_path %>
  <h2><%= @product.name %></h2>
  <div class="card mt-4">
    <div class="card-header">
      <div class="row align-items-center">
        <% if !@product.sale_price.nil? %>
          <div class="col-12 col-md-9">
            <h5><%= t('products.sale_price') %>: <%= number_to_currency( @product.sale_price.price,unit: "$", format: "%u %n") %></h5>
            <h5><%= t('products.stock_price') %>: <%= number_to_currency( @product.current_unit_price,unit: "$", format: "%u %n") %></h5>
            <h5><%= t('products.stock') %>: <%= @product.current_stock %></h5>
          </div>
          <div class="col-12 col-md-3">
            <%= link_to t('products.edit_sale_price'), edit_product_sale_price_path(@product), data: { turbo_frame: 'remote_modal' }, class: "btn btn-primary" %>
          </div>
        <% else %>
          <div class="col-12 col-md-4">
            <%= link_to t('products.new_sale_price'), new_product_sale_price_path(@product), data: { turbo_frame: 'remote_modal' }, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <th><%= t('products.name') %></th>
          <th><%= t('products.brand') %></th>
          <th><%= t('products.unit') %></th>
          <th><%= t('products.size') %></th>
          <th><%= t('providers.singular') %></th>
        </thead>
        <tbody>
          <tr>
            <td><%= @product.name %></td>
            <td><%= @product.brand %></td>
            <td><%= @product.unit %></td>
            <td><%= @product.size %></td>
            <td><%= @product.provider.name %></td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-4">
        <%= t('products.description') %>:
        <div class="col">
          <div class="card card-body">
            <td><%= simple_format @product.description %></td
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-12 col-sm-4 d-grid mt-2">
          <%= link_to t('products.edit_product'), edit_product_path(@product), class: "btn btn-secondary" %>
        </div>
        <div class="col-12 col-sm-4 d-grid mt-2">
          <%= link_to t('movements.singular'), new_product_movement_path(@product), data: { turbo_frame: dom_id(Movement.new) }, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= turbo_frame_tag Movement.new %>
<%= turbo_frame_tag "product-movements" do %>
  <%= render 'products/movements', product: @product %>
<% end %>
