<%= turbo_frame_tag sale do %>
  <div class="mt-2">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12 col-md-3">
              <%= link_to sale.code, location_sale_path(location, sale), data: { turbo_frame: '_top' } %>
          </div>
          <div class="col-12 col-md-2 d-flex justify-content-center">
            <span class="status status__<%= sale.status %>"><%= sale.status %></span>
          </div>
          <div class="col-12 col-md-4">
            <div class="col">
              <%= t('customers.singular')%>: <%= sale.client.name %>
            </div>
            <div class="col">
              <%= t('sales.date') %>: <%= l(sale.created_at, format: :long) %>
            </div>
            <div class="col">
              <% if sale.total.present? %>
              Total: <%= number_to_currency( sale.total, unit: "$", format: "%u %n") %>
              <% end %>
            </div>
          </div>
          <% if sale.guardada? %>
          <div class="col-12 col-md-3 d-flex justify-content-end">
            <%= link_to edit_location_sale_path(location, sale) do %>
            <div class="btn btn-info me-2">
              <i class="bi bi-pencil-square"></i>
            </div>
            <% end %>
            <%= link_to location_sale_path(location, sale), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <div class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
