<%= turbo_stream_from current_company, "sales" %>
<%= turbo_stream_from "sales_wallet_amount" %>
<div class="container">
  <div class="header">
    <h1><%= t('sales.plural') %></h1>
    <section class="balance">

      <h3><%= t('common.quick_balance') %></h3>
      <% unless sales_wallet.nil? %>
        <div class="row" id="sales_wallet_amount">
          <%= render 'metrics/sales_wallet_amount', sales_wallet_amount: sales_wallet.amount %>
        </div>
      <% end %>
      <div class="row shadow mb-3">
        <div class="col">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th scope="col"><%= t('items.singular') %></th>
                <th scope="col"><%= t('common.last_month') %></th>
                <th scope="col"><%= t('common.this_month') %></th>
                <th scope="col"><%= t('common.this_year') %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><%= t('sales.plural') %></th>
                <td><%= number_to_currency(Sale.total_last_month, unit: "$", format: "%u %n") %></td>
                <td><%= number_to_currency(Sale.total_this_month,unit: "$", format: "%u %n") %></td>
                <td><%= number_to_currency(Sale.total_this_year, unit: "$", format: "%u %n") %></td>
              </tr>
              <tr>
                <th scope="row"><%= t('common.raw_earnings') %></th>
                <td><%= number_to_currency(Sale.total_earnings_last_month, unit: "$", format: "%u %n") %></td>
                <td><%= number_to_currency(Sale.total_earnings_this_month,unit: "$", format: "%u %n") %></td>
                <td><%= number_to_currency(Sale.total_earnings_this_year, unit: "$", format: "%u %n") %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <div class="row d-flex">
      <div class="col">
        <%= link_to t('sales.new_sale'), new_sale_path, data: { turbo_frame: dom_id(Sale.new) }, class: "btn btn-primary" %>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#filter-form" aria-expanded="false" aria-controls="collapseExample">
          Buscar
        </button>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag Sale.new %>
  <div class="row">
    <!-- Search form to filter customers by id_number -->
    <div id="filter-form" class="container collapse col-12 col-md-4 mt-2">
      <div class="card shadow-sm">
        <div class="card-body row row-cols-1">
          <h4>Buscar</h4>
          <hr>
          <div class="col">
            <%= form_with( url: sales_path, method: :get, data: {turbo_frame: 'sales'} ) do |form| %>
              <%= form.text_field :client_id_number, placeholder: t("common.search.client_identification"), class: 'form-control mb-2' %>
              <%= form.text_field :status, placeholder: t("common.search.status"), class: 'form-control mb-2' %>
              <%= form.text_field :code, placeholder: t("common.search.code"), class: 'form-control mb-2' %>

              <div class="row">
                <div class="col">
                  <%= form.label t('common.start_date') %>
                  <%= form.date_field :start_date, class: 'form-control' %>
                </div>
                <div class="col">
                  <%= form.label t('common.end_date') %>
                  <%= form.date_field :end_date, class: 'form-control' %>
                </div>
              </div>

              <%= form.submit "Buscar", class: "btn btn-warning my-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <%= turbo_frame_tag "sales" do %>
        <%= render @sales %>
      <% end %>
    </div>
  </div>
</div>
