<%= turbo_stream_from current_company, "sales" %>
<div class="container">
  <div class="header">
    <h1><%= t('sales.plural') %></h1>
    <%= link_to t('sales.new_sale'), new_sale_path, data: { turbo_frame: dom_id(Sale.new) }, class: "btn btn-primary" %>
  </div>

  <%= render "sales/filter_options" %>
  <%= turbo_frame_tag Sale.new %>
  <%= turbo_frame_tag "sales" do %>
    <%= render @sales %>
  <% end %>
</div>
