<div class="container mb-5">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('sales.plural')}"), location_path(@location) %>
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-12 col-sm-8">
          <%= t('sales.singular') %>: <%= @sale.code %> <br>
          <%= t('user.name') %>: <%= @sale.user.name %> <br>
          <%= t('sales.date') %>: <%= l(@sale.created_at, format: :long) %>
        </div>
        <div id="sale-status" class="col-6 col-sm-2">
          <%= render "sales/status_tag", sale: @sale %>
        </div>
        <div class="col-6 col-sm-2">
          <div class="dropdown">
            <a class="dropdown-toggle" id="sale--status" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-cloud-download-fill"></i>
              <%= t('common.action') %>
            </a>
            <div id="sale-action" aria-labelledby="saleStatus" class="dropdown-menu">
              <%= render "sales/status", location: @location, sale: @sale %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-inputs">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h4>
              <%= t('customers.singular') %>: <%= @sale.client.name %>
              , C.C. <%= @sale.client.id_number %>
            </h4>
          </div>
        </div>
        <div class="row justify-content-center mt-4 bg-light">
            <div class="col-12 col-sm-4"><b>Item</b></div>
            <div class="col-12 d-none col-sm-2 d-sm-block"><b><%= t('common.quantity') %></b></div>
            <div class="col-12 d-none col-sm-2 d-sm-block"><b><%= t('common.unit_price') %></b></div>
            <div class="col-12 d-none col-sm-2 d-sm-block"><b><%= t('common.actions') %></b></div>
        </div>
        <div class="row mt-4 mb-4">
          <%= turbo_frame_tag "items" do %>
            <%= render @sale.items, location: @location, sale: @sale %>
          <% end %>
          <%= turbo_frame_tag Item.new %>
        </div>
      </div>
    </div>
    <div id="add-item" class="card-footer">
        <%= render 'sales/add_item', location: @location, sale: @sale %>
    </div>
  </div>
</div>

<%= turbo_frame_tag dom_id(@sale, :total) do %>
  <%= render "sales/total", sale: @sale %>
<% end %>
