<%= turbo_stream_from @location, "sales" %>
<div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} locations"), locations_path %>

  <h1><%= @location.name %></h1>

  <div class="row" id="wallet_amount">
    <%= render 'metrics/wallet_amount', wallet_amount: @location.wallet.amount %>
  </div>

  <% if is_sale_location?(@location) %>
    <div class="row">
      <div class="col">
        <%= link_to t('sales.new_sale'), new_location_sale_path(@location), data: { turbo_frame: dom_id(Sale.new) }, class: "btn btn-primary" %>
      </div>
    </div>
    <%= turbo_frame_tag Sale.new %>
      <div class="row">
        <%= turbo_frame_tag "sales", class: "mb-2" do %>
          <%= render @sales, location: @location %>
        <% end %>
      </div>
    <% elsif is_purchase_location?(@location) %>
    <div class="row">
      <div class="col">
        <%= link_to t('coffee_purchases.new_coffee_purchase'), new_location_coffee_purchase_path(@location), data: { turbo_frame: dom_id(CoffeePurchase.new) }, class: "btn btn-primary" %>
      </div>
    </div>
    <%= turbo_frame_tag CoffeePurchase.new %>
      <div class="row">
        <%= turbo_frame_tag "coffee_purchases", class: "mb-2" do %>
          <%= render @coffee_purchases, location: @location %>
        <% end %>
      </div>
    <% end %>

</div>
