<!DOCTYPE html>
<html>
  <head>
    <title>CafeKahawa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="56" class="scrollspy-example" tabindex="0">
    <%= render 'layouts/navbar' %>
    <div id="flash" class="flash">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
  </body>
</html>
